* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e8e8e8;
}

.AboutFirst h1 {
    color: #ffffff;
}

.AboutFirst p {
    color: #6c757d;
}

.AboutSecond {
    float: right;
    text-align: end;
}

.rateUsStar {
    cursor: pointer;
}

#Submit {
    background-color: #1c754d;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

#Submit:hover {
    background-color: #115d3b;
}

.navbar-expand-lg {
    width: 100%;
}

.container-fluid img {
    cursor: pointer;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    max-width: 1100px;
    margin-top: 86px;
    background-color: #212529;
    padding: 58px 45px;
}

.container h1 {
    color: white;
}

.container p,
.container hr {
    color: #abadaf;
    margin: 25px 0;
}

.container button {
    padding: 8px 17px;
    background-color: transparent;
    color: #1c754d;
    border: 2px solid #1c754d;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.container button:hover {
    border: 2px solid #1c754d;
    background-color: #1c754d;
    color: white;
}

.card-body {
    background-color: #343a40;
    color: #c8c9cb;
}

#collapseContent {
    display: none;
    overflow-y: scroll;
    max-height: 300px;
}

#CityButtons button {
    background-color: #1c754d;
    border-color: #1c754d;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: lighter;
}

#CityButtons button:hover {
    background-color: #146b44;
    border-color: #146b44;
}

#CityButtons .active {
    background-color: #115d3b;
    border-color: #115d3b;
}

#CityButtons .active:hover {
    background-color: #115d3b;
    border-color: #115d3b;   
}

footer {
    margin-top: 70px;
    background-color: #212529;
    padding: 8px 0;
    width: 99.1vw;
}

.footerContainer {
    width: 100%;
    padding: 5px;
    background-color: #2b3035;
    display: flex;
    justify-content: center;
    color: #abadaf;
    align-items: center;
    font-size: 15px;
}
